@font-face {
    font-family: "Shiny";
    src: url(../fonts/Upstand\ Signature.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {}

body {
    background: url("../img/png-transparent-texture-mapping-paper-huawei-mate-8-android-wood-texture-texture-3d-computer-graphics-brown.png") center center fixed;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cuadrado {
    display: block;
    align-items: center;
    padding: 13vh;
    margin: 1vh;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}
.cabecera {
    font-family: "Shiny";
    color: rgb(250, 219, 94);
    margin-top: 4vh;
    padding: 0;
}

.cabecera h1 {
    font-size: 9vh;
    text-align: center;
}

.cabecera .centro {
    text-align: center;
    font-size: 25vh;
}

.contador {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    font-size: 3rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(109, 25, 25);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.label {
    font-size: 14px;
    text-align: center;
}

.fade-effect {
    animation: in-top 0.5s ease;
}

.btnWsp{
    display: block;
    align-items: center;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 158px;
    background-color: green;
    border-radius: 18px;
}
@keyframes in-top {
    from {
        transform: rotate3d(-1, 0, 0, 90deg);
    }

    to {
        transform: rotate3d(0, 0, 0, 0deg);
    }
}
